body {
    margin: 0px;
}

.container {
    font-family: sans-serif;
}

.one {
    display:flex;
    justify-content: space-between;
    background: #1F2937;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}

.headerlogo {
    font-size: 24px;
    
}

.two {
    display:flex;
    padding-left: 20%;
    padding-right: 20%;
    background: #1F2937;
    color: white;
    padding-bottom: 5%;
    padding-top: 5%;
    gap: 8%;
}

.twoleft {
    flex:1 ;
    display: flex;
    flex-direction: column;
}

.tworight {
    display: flex;
    flex:1 ;
    background: gray;
    align-items: center;
    justify-content: center;
}

.heromain {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    flex:1;
}

.herosecondary {
    font-size: 18px;
    color: #E5E7EB;
    flex:1;
}

.herobutton {
    flex:1;
}

.three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoheader {
    font-size: 36px;
    color: #1F2937;
    padding-top: 2%;
    padding-bottom: 2%;
}

.infoimagescontainer {
    display: flex;
    gap: 5%;
    justify-content: space-around;
}

.sqimg {
  border: 3px solid #3882F6;
  border-radius: 15%;
  flex:1;
  width: 200px;
  height:200px;
}

.subtext {
    text-align: center;
    font-size: 18px;
    width: 200px;
    height:200px;
}

.four {
    padding-left: 20%;
    padding-right: 20%;
    background: #E5E7EB;
    display: flex;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.five {
    padding-left: 20%;
    padding-right: 20%;
}